@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h1 class="text-dark">Customers</h1>

<form asp-action="Index" class="form-inline my-2 my-lg-0">
    <div class="input-group">
        <input class="form-control mr-sm-2" type="search" placeholder="First Name" name="First" />
        <input class="form-control mr-sm-2" type="search" placeholder="Last Name" name="Last" />
        <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Search" />

    </div>
</form>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>@Html.ActionLink("Order History", "Details", new { id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

<div class="text-center">
    <a asp-action="Create">Register new Customer</a>
</div>



